<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    {{>header}}
    <div>
      <div>
        <h2>{{project.name}}</h2>
        <p><strong>Description: </strong>{{project.description}}</p>
        <p><strong>Start Date: </strong>{{project.startDate}}</p>
        <p><strong>End Date: </strong>{{project.endDate}}</p>
      </div>
      <div>
        <table>
          <thead>
            <th>Name</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Due Date</th>
          </thead>
          <tbody>
            {{#each tasks}}
              <tr>
                  <td>{{name }}</td>
                  <td>{{assignee}}</td>
                  <td>{{status}}</td>
                  <td>{{dueDate}}</td>
                  <td><a href='/tasks/{{_id}}'>See Details</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <a href='/projects/{{project._id}}/tasks/new'>Add Task</a>
      </div>
    </div>
    <br>
  </body>
</html>
