<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    {{>header}}
    <div>
      <div>
        <h2>{{project.name}}</h2>
        <p><strong>Description: </strong>{{project.description}}</p>
        <p><strong>Start Date: </strong>{{project.startDate}}</p>
        <p><strong>End Date: </strong>{{project.endDate}}</p>
      </div>
      <table>
        <thead>
          <th>To Do</th>
          <th>In Progress</th>
          <th>Completed</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <table>
                <thead>
                  <th>Name</th>
                  <th>Assignee</th>
                  <th>Status</th>
                  <th>Due Date</th>
                </thead>
                <tbody>
                  {{#each todo}}
                    <tr>
                        <td>{{name }}</td>
                        <td>{{assignee.name}}</td>
                        <td>{{status}}</td>
                        <td>{{dueDate}}</td>
                        <td><a href='{{process.env.HOST}}/projects/{{project._id}}/tasks/{{_id}}'>See Details</a></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>

            <td>
              <table>
                <thead>
                  <th>Name</th>
                  <th>Assignee</th>
                  <th>Status</th>
                  <th>Due Date</th>
                </thead>
                <tbody>
                  {{#each inprogress}}
                    <tr>
                        <td>{{name }}</td>
                        <td>{{assignee.name}}</td>
                        <td>{{status}}</td>
                        <td>{{dueDate}}</td>
                        <td><a href='{{process.env.HOST}}/projects/{{project._id}}/tasks/{{_id}}'>See Details</a></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>

            <td>
              <table>
                <thead>
                  <th>Name</th>
                  <th>Assignee</th>
                  <th>Status</th>
                  <th>Due Date</th>
                </thead>
                <tbody>
                  {{#each completed}}
                    <tr>
                        <td>{{name }}</td>
                        <td>{{assignee.name}}</td>
                        <td>{{status}}</td>
                        <td>{{dueDate}}</td>
                        <td><a href='{{process.env.HOST}}/projects/{{project._id}}/tasks/{{_id}}'>See Details</a></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <a href='{{process.env.HOST}}/projects/{{project._id}}/tasks/new'>Add Task</a>
      </table>
    </div>
    <br>
  </body>
</html>
