<!DOCTYPE html>

<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <section>
      {{>navbar}}
      <div class="container py-5 h-100">
        <div>
          <h2>Projects</h2>
        </div>

        <div>
          <div>
            <table class="table table-striped bg-light">
              <thead>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th><a class="btn btn-primary" href="{{process.env.HOST}}/projects/new">Create Project</a></th>
              </thead>
              <tbody>
                {{#each projects}}
                  <tr>
                    <td>{{name }}</td>
                    <td>{{startDate}}</td>
                    <td>{{endDate}}</td>
                      <td><a href='{{process.env.HOST}}/projects/{{_id}}'>See Details</a></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <br>
            

          </div>
        </div>
      </div>
    </section>
  </body>
</html>
