<!DOCTYPE html>

<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>

  <body>
    {{>navbar}}
    <div>
      <h2>Projects</h2>
    </div>
    <br>
    <div>
      <div>
        <table>
          <thead>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
          </thead>
          <tbody>
            {{#each projects}}
                <tr>
                    <td>{{name }}</td>
                    <td>{{startDate}}</td>
                    <td>{{endDate}}</td>
                    <td><a href='{{process.env.HOST}}/projects/{{_id}}'>See Details</a></td>
                </tr>
            {{/each}}
          </tbody>
        </table>
        <br>
        <a href="{{process.env.HOST}}/projects/new">Create Project</a>

      </div>
    </div>
  </body>
</html>
