<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <input type="hidden" id="taskId" value={{task._id}}/>
    <input type="hidden" id="projectId" value={{task.project}}/>
    <section>
      {{>navbar}}
      <div class="container py-5 h-100">
        <div class="card border-dark mb-3">
          <div class="card-body text-dark">
            <h2 class="class-title">{{task.name}}</h2>
            <p class="card-text"><strong>Description: </strong>{{task.description}}</p>
            <p class="card-text"><strong>Due Date: </strong>{{dateFormat task.dueDate "DD/MM/YY"}}</p>
            <p class="card-text"><strong>Status: </strong>
              <select class="form-control text-capitalize" id="statusSelect">
                <option value={{task.status.value}} selected>{{task.status}}</option>
                <option value="to-do">To do</option>
                <option value="in-progress">In Progress</option>
                <option value="completed">Completed</option>
              </select>
            </p>

            <strong>Assignee: </strong>
            <select class="form-control" id="assigneeSelect" name="assigneeSelect">
              {{#if task.assignee}}
                <option value={{task.assignee._id}} selected>{{task.assignee.name}}</option>
              {{/if}}
              <option value="">Select Assignee</option>
              {{#each users}}
                <option value={{_id}}>{{name}}</option>
              {{/each}}
            </select>

            <p><strong>Attachments: </strong>{{task.attachments}}</p>
            <form action="{{process.env.HOST}}/projects/{{project._id}}/tasks/{{task._id}}/attachments" method="post">
              <div class="form-control">
                <input type="file" class="" multiple="true" name="attachments" id="name" placeholder="Enter Name">
                <input type="submit" class="btn btn-dark btn-sm btn-block" value="upload">
              </div>
            </form>
          </div>
        </div>

      </div>
    </section>
    <script src='/js/app.js'></script>
  </body>
</html>
